node_modules/
bundle.js
bundle.js.map
/public/assets
/config/master.key
.byebug_history
npm-debug.log
/log/*
/tmp/*
/config/application.yml

# Ignore application configuration
/config/application.yml
