.dashboard-container{
    display: flex;
    height: 800px;
}

.courses-container{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.user-welcome-container{
    margin: 0 auto;
    height: 10%;
    width: 80%;
    text-align: center;
}

.user-welcome-message{
    font-family: 'Rubik Mono One', sans-serif;
    margin-top: 2%;
    font-size: 40px;
}

.courses-title-container{
    margin: 0 auto;
    width: 35%;
    text-align: center;
    height: 3%;
}

.courses-title{
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 25px;
}

.courses-table{
    margin-top: 3%;
}

table, th, td{
    border: 3px solid black;
    border-collapse: collapse;
}

.table-heading{
    padding: 5px;
    font-size: 15px;
    font-family: 'Rubik Mono One', sans-serif;
    color: white;
    background: blue;
}

.course-row td{
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.edit-delete-link{
    margin-top: 6px;
    font-size: 20px;
    color: blue;
    text-decoration: none;
}

.edit-delete-link:hover{
    cursor: pointer;
    color: rgb(1, 1, 160);
}
