.map-show-container{
    display: flex;
}

.comments-info-container{
    width: 45%;
    height: 750px;
    background: whitesmoke;
    margin-top: 2%;
}

.course-info-container{
    width: 70%;
    height: 20%;
    margin: 0 auto;
}

.course-name{
    margin: 0 auto;
    margin-top: 1%;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    text-transform: uppercase;
    color: blue;
    font-size: 30px;
}

.course-distance{
    margin: 0 auto;
    text-align: center;
    margin-top: 2%;
    font-size: 16px;
    font-family: 'Rubik Mono One', sans-serif;
}

.course-description{
    margin: 0 auto;
    margin-top: 2%;
    font-size: 15px;
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
}

.no-comments-message{
    background: chartreuse;
    font-size: 50px;
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
}

.comments-container{
    background: chartreuse;
    width: 90%;
    height: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.comment-container{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 30%;
    margin: 0 auto;
    margin-top: 1%;
    background: chocolate;
    border: 2px solid #6e7491;
    border-top-left-radius: 30px 90px;
    border-top-right-radius: 30px 90px;
    border-bottom-left-radius: 90px 30px;
    border-bottom-right-radius: 90px 30px;
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.comment-username{
    margin: 0 auto;
    margin-top: 1%;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 12px;
}


.comment-body{
    background: cornflowerblue;
    margin: 0 auto;
    margin-top: 3%;
    height: 70%;
    width: 80%;
    text-align: center;
}